<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belly Button Biodiversity</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        .boxed {
          border: 1px solid lightgray;
          border-radius: 10px;
          padding: 10px; 
        }
      </style>
</head>
<body>
    <div class = "container">
        <div class="jumbotron text-center">
            <h1>Belly Button Biodiversity Dashboard</h1>
            <h3>Use Interactive Charts to Explore the Dataset</h3>
        
        </div>
        <div class="row" id="selector">
            <div class="col-md-2">
                <div class="jumbotron">
                    <h3>Select Sample</h3>
                    <select class ="select" id="selDataset" onchange="optionChanged(this.value)"></select>
                </div>
                <br>
                <div class="panel panel-primary">
                    <div class="panel-heading">Sample Metadata</div>
                    <div class="panel-body" id="sample_metadata"></div>
                </div>
            </div>
            <div class="col-md-10" id="piechart"></div>
        </div>
        
    <script>
        function getNames() {
            Plotly.d3.json("/names", function(errr, data){
                for (i=0; i < data.length; i++){
                    var opt = data[i]
                    select = document.getElementById("selDataset");
                    var opt_create = document.createElement("option");
                    opt_create.textContent = opt;
                    opt_create.value = opt;
                    select.appendChild(opt_create);
            }
        })}
        getNames();
        Plotly.d3.json("/samples/BB_940", function(err, data1){
            console.log(err);
            console.log(data1);
            var sampleID = "BB_940";
            console.log(sampleID);
            getDescInit(sampleID, data1)
            getMeta(sampleID);             
        })

        function getDescInit(sid, data_samp){
            Plotly.d3.json("/otu", function(err,data){
                pieInit(sid, data_samp, data);
                bubbleInit(sid, data_samp, data);
            });
        };

        function pieInit(sid, data, otu_list){
            var samp = data["sample_values"].slice(0,10);
            var oid = data["otu_ids"].slice(0,10);
            console.log(oid)

            var otu_desc = [];
            var otu_keys = Object.keys(otu_list);
            for (p=0; p < oid.length; p++){
                for(q=0; q < otu_keys.length; q++){
                    if (otu_keys[q].toString() === oid[p].toString()){
                        otu_desc.push(otu_list[q.toString()])
                    }
                }
            }

            var piedata = [{
                values: samp,
                labels: oid,
                type:"pie",
                hovertext: otu_desc
            }];

            var layout = {
                height: 600,
                width: 800
            };

            Plotly.newPlot('piechart', piedata, layout);   
        };

        function bubbleInit(sid, data, otu_list){
            var samp_val = data["sample_values"];
            var oid_val = data["otu_ids"];

            var otu_desc = [];
            var otu_keys = Object.keys(otu_list);
            for (p=0; p < oid_val.length; p++){
                for(q=0; q < otu_keys.length; q++){
                    if (otu_keys[q].toString() === oid_val[p].toString()){
                        otu_desc.push(otu_list[q.toString()])
                    }
                }
            }

            var bubbledata=[{
                x: oid_val,
                y: samp_val,
                mode: "markers",
                marker: {
                    size: samp_val,
                    color: oid_val
                },
                text: otu_desc
            }];

            var layout2 = {
                showlegend: false
            };

            Plotly.newPlot("bubble", bubbledata, layout2)
        }


        function optionChanged(sid){
            Plotly.d3.json("/samples/" + sid, function(err, data){
                console.log(data)
                getDesc(sid, data)
                getMeta(sid)             
            })
        };
        
        function getDesc(sid, data_samp){
            Plotly.d3.json("/otu", function(err,data){
                pie(sid, data_samp, data);
                bubble(sid, data_samp, data);
            });
        };
        

        function pie(sid, data, otu_list){
            var samp = data["sample_values"].slice(0,10);
            var oid = data["otu_ids"].slice(0,10);
            console.log(oid)

            var otu_desc = [];
            var otu_keys = Object.keys(otu_list);
            for (p=0; p < oid.length; p++){
                for(q=0; q < otu_keys.length; q++){
                    if (otu_keys[q].toString() === oid[p].toString()){
                        otu_desc.push(otu_list[q.toString()])
                    }
                }
            }

            var newvals = samp;
            var newlabels = oid;
            var newHover = otu_desc;

            Plotly.restyle('piechart', "values", [newvals]); 
            Plotly.restyle('piechart', "labels", [newlabels]);
            Plotly.restyle('piechart', "hovertext", [newHover]);      
        };

        function bubble(sid, data, otu_list){
            var samp_val = data["sample_values"];
            var oid_val = data["otu_ids"];

            var otu_desc = [];
            var otu_keys = Object.keys(otu_list);
            for (p=0; p < oid_val.length; p++){
                for(q=0; q < otu_keys.length; q++){
                    if (otu_keys[q].toString() === oid_val[p].toString()){
                        otu_desc.push(otu_list[q.toString()])
                    }
                }
            }

            var newOids = oid_val;
            var newSamps = samp_val;
            var newDesc = otu_desc;

            Plotly.restyle("bubble", "x", [newOids]);
            Plotly.restyle("bubble", "y", [newSamps]);
            Plotly.restyle("bubble", "marker.color", [newOids]);
            Plotly.restyle("bubble", "size", [newSamps]);
            Plotly.restyle("bubble", "text", [newDesc]);

        };

        function guage(){

        };
        
        function getMeta(sid){
            Plotly.d3.json("/metadata/" + sid, function(err, data){
                var age = data["AGE"];
                var type = data["BBTYPE"];
                var eth = data["ETHNICITY"];
                var gender = data["GENDER"];
                var location = data["LOCATION"];
                var sampID = data["SAMPLEID"];

                parent = Plotly.d3.select("#sample_metadata").html("")

                var age_data = Plotly.d3.select("#sample_metadata").append("div").attr("class", "age");
                age_data.append("p").text("Age: " + age);

                var type_data = Plotly.d3.select("#sample_metadata").append("div").attr("class", "bbtype");
                type_data.append("p").text("BBType: " + type);

                var eth_data = Plotly.d3.select("#sample_metadata").append("div").attr("class", "ethnicity");
                eth_data.append("p").text("Ethnicity: " + eth);

                var gender_data = Plotly.d3.select("#sample_metadata").append("div").attr("class", "gender");
                gender_data.append("p").text("Gender: " + gender);

                var location_data = Plotly.d3.select("#sample_metadata").append("div").attr("class", "location");
                location_data.append("p").text("Location: " + location);

                var sampID_data = Plotly.d3.select("#sample_metadata").append("div").attr("class", "sampleid");
                sampID_data.append("p").text("Sample ID: " + sampID);
                
            });
        }
    </script>

    <div id="bubble"></div>
    <div id="wash"></div>
    </div>
</body>
</html>
